// Light
$light-bg: #fff;
$light-secondary: gray;
$light-text: black;

// Dark
$dark-bg: #282828;
$dark-secondary: #49483E;
$dark-text: #F8F8F0;
$dark-gray: #888;
$dark-blue: #66D9EF;
$gray-brown: #3e3d32;
$purple: #AE81FF;

$knowledge-color: $purple;
$blood-color: #f93140;
$money-color: #E6DB74;
$pink: #F92672;
