.app {
  text-align: center;
}

.app-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: white;
}

.app-link {
  color: #61dafb;
}

.app--dark {
  background: black
}

.app--light {
  background: whitesmoke;
}